<div id="profile">
    <div class="form">
        <div>
            <div class="center text">Profile</div>
        </div>
        <div class="field">
            <label for="username">Username</label>
            <input type="text">
        </div>
        <div class="field">
            <label for="username">Password</label>
            <input type="text">
        </div>
        <div class="field">
            <label for="username">Goal</label>
            <select name="goal" id="goal">
                <option value="1" selected>Weight Loss</option>
                <option value="2">Weight Gain</option>
            </select>
        </div>
        <div class="field">
            <label for="username">Target weight</label>
            <input type="text">
        </div>
        <div class="field center">
            <button id="update-profile">Update profile</button>
        </div>
    </div>
</div>