<div id="main-signup">
    <div id="main-signup-left">

    </div>
    <div id="main-signup-right">
        <div id="app-name">
            <h3 style="font-size: 28px; letter-spacing: 8px;">
                Signup to <span style="color: rgb(255, 78, 82);">Boom</span>
            </h3>
            <p>for a better you...</p>
        </div>
        <div id="form-input-group-signup">
            <div id="form-input-username-signup">
                <label for="username">Username</label>
                <input [(ngModel)]="this.user.username" type="text" name="username" id="username" autocomplete="off">
            </div>
            <div id="form-input-password-signup">
                <label for="password">Password</label>
                <input [(ngModel)]=" this.user.password" type="password" name="password" id="password"
                    autocomplete="off">
            </div>
            <div id="form-input-password-signup">
                <label for="password">Confirm password</label>
                <input [(ngModel)]="this.confirmPassword" (change)="passwordMatchCheck()" type="password"
                    name="confirm-password" id="confirm-password" autocomplete="off">
            </div>
            <div id="form-input-sign-in-button-signup">
                <button id="signup" [disabled]="this.disableSignup" (click)="signUp()">Sign up</button>
            </div>
            <div id="form-create">
                <span>Already have an account? Login <a href="#">here</a></span>
            </div>
        </div>
    </div>
</div>