/* Sections for login screen  */
#main-login {
    height: 100%;
}

#main-login-left {
    width: 50%;
    height: 100%;
    display: inline;
    float: left;
    background-image: url('../../assets/images/RollerSkatingDoodle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#main-login-right {
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#app-name {
    margin: 50px;
    font-size: 28px;
    letter-spacing: 10px;
    text-align: center;
}

#app-name p {
    font-size: 12px;
    letter-spacing: 6px;
}

/* Input form elements */

label {
    display: block;
    margin: 15px 0px;
    font-size: 14px;
    color: grey;
}

#form-input-group-login {
    width: 80%
}

#form-input-group-login input {
    width: 100%;
    padding: 5px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid grey;

}

input[type=text]:focus {
    outline: 1px rgb(105, 128, 226);
    border-bottom: 2px solid rgb(255, 79, 79);
}

#form-input-username-login,
#form-input-password-login,
#form-input-sign-in-button-login {
    padding: 30px 30px 0px 30px;
}

#form-input-forgot-password-login {
    padding: 12px 30px;
    text-align: end;
    font-size: 12px;
}

#form-input-sign-in-button-login {
    padding: 60px 30px 10px 30px;
    text-align: center;
}

#signin {
    background-color: rgb(219, 84, 84);
    width: 50%;
    height: 50px;
    color: white;
    border-radius: 30px;
    border-style: none;
}

#form-create {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

/* media queries */
@media screen and (max-width: 768px) {
    #main-login-left {
        width: 0%;
    }

    #main-login-right {
        width: 100%;
        position: relative;
        z-index: 2;
    }

    #main-login-right::after {
        position: absolute;
        z-index: -1;
        background-image: url('../../assets/images/RollerSkatingDoodle.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0.20;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}