<div id="main-login">
    <div id="main-login-left">

    </div>
    <div id="main-login-right">
        <div id="app-name">
            <h3 style="font-size: 28px; letter-spacing: 8px;">
                Login to <span style="color: rgb(255, 78, 82);">Boom</span>
            </h3>
            <p>for a better you...</p>
        </div>
        <div id="form-input-group-login">
            <div id="form-input-username-login">
                <label for="username">Username</label>
                <input type="text" [(ngModel)]="this.user.username" usernaname="username" id="username"
                    autocomplete="off">
            </div>
            <div id="form-input-password-login">
                <label for="password">Password</label>
                <input type="password" [(ngModel)]="this.user.password" name="password" id="password"
                    autocomplete="off">
            </div>

            <div id="form-input-sign-in-button-login">
                <button id="signin" (click)=login()>Sign in</button>
            </div>
            <div id="form-create">
                <span>Don't have an account? Create one <a href="register">here</a></span>
            </div>
        </div>
    </div>


</div>