<div id="header">
    <div>Boom</div>
    <div>
        <mat-icon>account_circle</mat-icon>
    </div>
</div>
<div id="dashboard">
    <div class="title">
        <p>Daily Goals</p>
    </div>
    <div id="daily-goals">
        <div id="weight" class="card">
            <p><span style="font-size: 32px;">50 </span>Kg</p>
        </div>
        <div id="calories" class="card">
            <mat-icon>restaurant</mat-icon>
            <p><span style="font-size: 32px;">1350 </span>cal</p>
        </div>
        <div id="Exercise" class="card">
            <mat-icon>fitness_center</mat-icon>
            <p><span style="font-size: 32px;">30 </span>mins</p>
        </div>
        <div id="Running/Walking" class="card">
            <mat-icon> directions_run</mat-icon>
            <p><span style="font-size: 32px;">12 </span>kms</p>
        </div>
    </div>
    <div class="title">
        <p>Daily stats <span style="font-size: 16px;">(click on each card to log)</span></p>
    </div>
    <div id="log">
        <div id="weight" class="card">
            <p><span style="font-size: 32px;">50 </span>Kg</p>
        </div>
        <div id="calories" class="card">
            <mat-icon>restaurant</mat-icon>
            <p><span   style="font-size: 32px;">1350 </span>cal</p>
        </div>
        <div id="Exercise" class="card">
            <mat-icon>fitness_center</mat-icon>
            <p><span style="font-size: 32px;">30 </span>mins</p>
        </div>
        <div id="Running/Walking" class="card">
            <mat-icon> directions_run</mat-icon>
            <p><span style="font-size: 32px;">12 </span>kms</p>
        </div>
    </div>
    <div id="charts">

    </div>
</div>